# AUR packages - install with: yay -S $(cat requirements-aur.txt | grep -v '^#' | grep -v '^$')

# Always needed
yay

# Shell/Theme
zsh-autosuggestions
zsh-syntax-highlighting
ttf-caskaydia-cove-nerd

# AUR apps
zen-browser
vesktop
nautilus

# SDR (Software Defined Radio)
gqrx
gtk-4.0
kvantum

# Optional
# steam
# spicetify-cli
