@define-color background #282828;
@define-color foreground #BDAE93;
@define-color accent #EC4935;
/* @define-color accent #008200;  Heineken green*/ 
@define-color surface #32302F;
@define-color muted #A89984;

* {
  font-family: "Overpass", "Noto Color Emoji", monospace;
  font-size: 11px;
  min-height: 0;
  color: @foreground;
}

tooltip {
  background: @background;
  border: 1px solid @accent;
  border-radius: 0;
  padding: 2px;
  margin: 0;
}

tooltip label {
  padding: 0;
  margin: 0;
  color: @foreground;

  /* Prevent giant blocks */
  min-width: 0;
  min-height: 0;
}

#right,
#center,
#left {
  margin-top: 3px;
	margin-bottom: 1px
}

#left {
	margin-left: 5px;
}

#right {
  border: 1px solid @accent;
  border-radius: 0;
	margin-right: 5px;
}

window#waybar {
  background: transparent;
}

#workspaces {  
  font-family: "Overpass Mono";
  margin: 2px 2px;
  border: 1px solid @accent;
	padding-left: 3px;
	padding-right: 3px;
}

#workspaces button {
  margin: 2px 0px;
  padding: 1px;
  background: transparent;
  border-radius: 2px;
  border: none;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
  border-color: transparent;
}

#workspaces button.active {
  background: @surface;
}

#workspaces button.urgent {
  background: @accent;
  color: @background;
}

#pulseaudio,
#network,
#battery,
#tray {
  padding: 0px 10px;
  margin: 2px 2px;
}

#custom-cava {
  font-family: "Fira Code", "DejaVu Sans Mono", "Overpass", "Noto Color Emoji", monospace;
	color: @accent;
}

#custom-github-commits {
  padding-top: 3px;
	padding-left: 7px;
  min-height: 0;
}

#custom-weather {
	font-family: "Overpass Mono", "Noto Color Emoji", monospace;
}

#custom-cava,
#mpris,
#bluetooth,
#custom-weather,
#custom-github-commits,
#clock {
  margin: 2px 2px;
  border: 1px solid @accent;
  border-radius: 0;
}

#network:hover,
#custom-power:hover,
#clock:hover,
#custom-vpn:hover,
#bluetooth:hover {
	color: @accent;
}

