@define-color background #282828;
@define-color foreground #BDAE93;
@define-color accent #EC4935;
@define-color surface #32302F;
@define-color muted #A89984;

* {
  font-family: "Overpass Mono", "Noto Color Emoji", monospace;
  font-size: 11px;
  font-weight: bold;
  min-height: 0;
  color: @foreground;
}

#left {
  margin: 1px 0px 1px 2px;
}

#center {
  margin: 1px 0px 1px 0px;
}

#right {
  margin: 3px 4px 3px 0px;

  border: 1px solid @accent;
  border-radius: 0;
}

window#waybar {
  background: @background;
}

#workspaces {  
  margin: 2px 2px;
  border: 1px solid @accent;
}

#workspaces button {
  margin: 2px 0px;
  padding: 1px;
  background: transparent;
  color: @muted;
  border-radius: 2px;
}

#workspaces button.active {
  background: @surface;
  color: @foreground;
}

#workspaces button.urgent {
  background: @accent;
  color: @background;
}

#pulseaudio,
#network,
#battery,
#tray {
  padding: 2px 10px;
  margin: 2px 2px;
}


#clock {
  margin: 2px 2px;
  border: 1px solid @accent;
  border-radius: 0;
}

#bluetooth {
  margin: 2px 2px;
  border: 1px solid @accent;
  border-radius: 0;
}
