@define-color background #282828;
@define-color foreground #BDAE93;
@define-color accent #EC4935;
@define-color separator #ab3e31;
/* @define-color accent #008200;  Heineken green*/ 
@define-color surface #32302F;
@define-color muted #A89984;

* {
  font-family: "Overpass", "Noto Color Emoji", monospace;
  font-size: 11px;
  min-height: 0;
  color: @foreground;
}

tooltip {
  background: @background;
  border: 1px solid @accent;
  border-radius: 0;
  padding: 2px;
  margin: 0;
}

tooltip label {
  padding: 0;
  margin: 0;
  color: @foreground;

  /* Prevent giant blocks */
  min-width: 0;
  min-height: 0;
}

#right,
#center,
#left {
  margin-top: 3px;
	margin-bottom: 1px
}

#left {
	margin-left: 5px;
}

#right {
  border: 1px solid @accent;
  border-radius: 0;
	margin-right: 5px;
}

window#waybar {
  background: transparent;
}

#workspaces {  
  margin: 2px 2px;
  border: 1px solid @accent;
	padding-left: 0;
	padding-right: 0;
}

#workspaces button {
  margin: 2px 0;
  padding: 0 6px;
  background: transparent;
  background-image: none;
  border-radius: 0;
  border: none;
  border-left: 1px solid @separator;
  transition: none;
  min-width: 0;
}

#workspaces button:first-child {
  margin-left: 0;
  border-left: none;
}

#workspaces button:last-child {
  margin-right: 0;
  border-right: none;
}

#workspaces button label {
  font-family: "CaskaydiaCove Nerd Font", "Overpass", "Noto Color Emoji", sans-serif;
  font-size: 12px;
  margin: 0 0 0 -4px;
  min-width: 0;
  padding: 0;
}

#workspaces button:hover {
  margin: 0;
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: #504945;
  background-image: none;
  border-right-color: @separator;
  transition: none;
}

#workspaces button.active {
  margin: 0;
  border-radius: 0;
  background: @surface;
  border-right-color: @separator;
}

#workspaces button.urgent {
  background: @accent;
  color: @background;
}

#workspaces button.active + button {
  margin-top: 0;
  margin-bottom: 0;
}

#workspaces button:hover + button {
  margin-top: 0;
  margin-bottom: 0;
}

#pulseaudio,
#custom-network,
#custom-battery,
#tray {
  padding: 0px 10px;
  margin: 2px 2px;
}

#custom-network.robot {
	color: @accent;
}

#custom-network.offline {
	color: @muted;
}

#custom-cava {
  font-family: "Fira Code", "DejaVu Sans Mono", "Overpass", "Noto Color Emoji", monospace;
	color: @accent;
}

#custom-github-commits {
  padding-top: 3px;
	padding-left: 7px;
  min-height: 0;
}

#custom-weather {
	font-family: "Overpass Mono", "Noto Color Emoji", monospace;
}

#custom-gcal-calendar {
  font-family: "Overpass", "CaskaydiaCove Nerd Font", "Noto Color Emoji", sans-serif;
}

#custom-power {
  font-family: "CaskaydiaCove Nerd Font Mono", "Overpass Mono", "Noto Color Emoji", monospace;
  font-size: 14px;
}

#custom-usb.empty {
  border-color: transparent;
  margin: 0;
  padding: 0;
}

#custom-eww.off {
  color: @muted;
}

#custom-eww.on {
  color: @accent;
}

#image,
#custom-cava,
#mpris,
#bluetooth,
#custom-usb,
#custom-eww,
#custom-weather,
#custom-gcal-calendar,
#custom-github-commits,
#clock {
  margin: 2px 2px;
  border: 1px solid @accent;
  border-radius: 0;
}

#custom-network:hover,
#custom-power:hover,
#clock:hover,
#custom-vpn:hover,
#bluetooth:hover {
	color: @accent;
}
