@define-color background #282828;
@define-color foreground #BDAE93;
@define-color accent #EC4935;
@define-color surface #32302F;
@define-color muted #A89984;

* {
  font-family: "Overpass", "Noto Color Emoji", monospace;
  font-size: 11px;
  min-height: 0;
  color: @foreground;
}

tooltip {
  background: @background;
  border: 1px solid @accent;
  border-radius: 0;
  padding: 2px;
  margin: 0;
}

tooltip label {
  padding: 0;
  margin: 0;
  color: @foreground;

  /* Prevent giant blocks */
  min-width: 0;
  min-height: 0;
}

#right,
#center,
#left {
  margin-top: 3px;
	margin-bottom: 1px
}

#left {
	margin-left: 5px;
}

#right {
  border: 1px solid @accent;
  border-radius: 0;
	margin-right: 5px;
}

window#waybar {
  background: @background;
}

#workspaces {  
  margin: 2px 2px;
  border: 1px solid @accent;
}

#workspaces button {
  margin: 2px 0px;
  padding: 1px;
  background: transparent;
  border-radius: 2px;
}

#workspaces button.active {
  background: @surface;
}

#workspaces button.urgent {
  background: @accent;
  color: @background;
}

#pulseaudio,
#network,
#battery,
#tray {
  padding: 0px 10px;
  margin: 2px 2px;
}

#bluetooth,
#custom-weather,
#clock {
  margin: 2px 2px;
  border: 1px solid @accent;
  border-radius: 0;
}

#network:hover,
#custom-power:hover,
#clock:hover,
#custom-vpn:hover,
#bluetooth:hover {
	color: @accent;
}
