@define-color background #282828;
@define-color foreground #BDAE93;
@define-color accent #EC4935;
@define-color surface #32302F;
@define-color muted #A89984;
@define-color border #3C3836;

* {
  font-family: "Overpass Mono", "Noto Color Emoji";
  font-size: 13px;
  font-weight: 700;
  color: @foreground;
}

window#waybar {
  background: @background;
}

#workspaces button {
  padding: 2px 8px;
  margin: 4px 2px;
  background: transparent;
  color: @muted;
  border-radius: 6px;
}

#workspaces button.active {
  background: @surface;
  color: @foreground;
}

#workspaces button.urgent {
  background: @accent;
  color: @background;
}

#pulseaudio,
#network,
#battery,
#tray {
  padding: 2px 10px;
  margin: 4px 2px;
  background: @surface;
  border-radius: 6px;
}

#group-right {
  margin: 4px 2px;
  padding: 2px;
  border: 1px solid @accent;
  border-radius: 0;
}

#clock {
  margin: 4px 2px;
  padding: 2px;
  border: 1px solid @accent;
  border-radius: 0;
}

#bluetooth {
  margin: 4px 2px;
  padding: 2px;
  border: 1px solid @accent;
  border-radius: 0;
}
